.face-detect {
    position: relative;
    bottom: 1em;
    text-align: center;
    width: 100%;
    font-size: 6em;    
}

.face-detect > canvas {
    position: absolute;
}

.face-detect > video {
    position: absolute;
}